# Logs
logs
*.log
npm-debug.log*
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dev directories
node_modules
dist
dist-ssr

# Hosting
/.firebase
**.cache

# Secrets
**serviceAccountKey.json